body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.header {
    display: flex;
    justify-content: center;
}

.slider-container {
    display:flex;
    flex-direction: column;
    align-self: center;
    padding-bottom: 12px;
    gap: 4px;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    color: black;
    display:flex;
    align-self:center;
}

#text-input {
    display: flex;
    border: none;
    text-align: center;
}

#grid-container {
    display:grid;
    grid-template-columns: repeat(50, 50fr);
    align-self: center;
    min-height: 500px;
    min-width: 500px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cell {
    display: flex;
}


.reset-button {
    display:inline-block;
    align-self: center;
    background-color: #f4f4f4;
    width:min-content;
    margin-top: 20px;
    border-radius: 15px;
    
}
